@media only screen and  (max-width: 1400px) {
    .form-container {
        max-width: 40%;
    }
}

@media only screen and  (max-width: 600px) {
    .form-container {
        max-width: 100%;
    }
}
@media only screen and  (max-width: 477px) {
    .form-container {
        max-width: 100%;
    }
}